header {

}

nav {

}

.navitem {

}

.logo {
    width: 48px;
    color: var(--primary);
}

.logoHeader {
    size: 2em;
    background-color: var(--secondary);
}

.shoppingcart {
    width: 48px;
    color: var(--secondary);
}

.cartQuantity{
    position: relative;
    top: 0px;
    right: 20px;
    font-weight:900;
    background-color: var(--shopSecondary);
}