header {

}

nav {

}

.navitem {

}

.logo {
    width: 48px;
    color: var(--primary);
}

.logoHeader {
    size: 2em;
    background-color: var(--secondary);
}

.shoppingcart {
    width: 48px;
    color: var(--secondary);
}